/* основний колір тексту #212121 */
/* вторинний колір тексту #757575 */
/* колір акцент тексту #2196F3 */
/* білий #FFFFFF */
/* rgba(255, 255, 255, 0.6) */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-button-color: #188CE8;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000;
    --additional-color: rgba(255, 255, 255, 0.6);
    --background-grey-color: #2F303A;
    --additional-background-color: #F5F4FA;
    --portfolio-background: #EEEEEE;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: "Roboto", sans-serif;
}   

ul {
    list-style: none;
}

a {
    text-decoration-line: none;
}

.header-logo {
    color: var(--primary-black-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-logo .accent {
    color: var(--accent-color);
}

.header-list .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-list .link:hover,
.header-list .link:focus {
    color: var(--accent-color);
}

.header-list .link.current {
    color: var(--accent-color);
}

.contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--background-grey-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

button {
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-button-color);
}

.button-filter {
    color: var(--title-text-color);
    background-color: var(--additional-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button-filter:hover,
.button-filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advanteges-item {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advanteges-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-team {
    background-color: var(--additional-background-color);
}

.about-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.team-card {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.name-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.examples-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--background-grey-color);
    font-family: "Roboto", "Sans-Serif";
}

.footer-logo {
    color: var(--primary-white-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-logo .accent {
    color: var(--accent-color);
}

.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link {
    color: var(--additional-color);
}

.address {
    color: var(--primary-white-color);
}

.footer-contact .link:hover,
.footer-contact .link:focus {
    color: var(--accent-color)
}